.box{
	width: auto;
	height: 100px;
	text-align: center;
	background: url(https://ccdn.goodq.top/caches/5ff4881fb66d15c23874b2854385c477/aHR0cHM6Ly81ZjNiYTI3NDZlODEyLnQ3NC5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMjAvMDgvOGQ3NDU0MWEyMTQ5N2VkMzkzY2I4OGUwNWM5YzllM2YuanBn.jpg);
}
